* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
 /* background: #f7f7f7 url(../images/background.png) 0 0 no-repeat;*/
  background-size: cover;
  color: #333;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 240px) { 
  body{
    font-size: 2em;
   }
 
   .fa {
     display: inline-block;
     font: normal normal normal 14px/1 FontAwesome;
     font-size: 1.3em;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin-left: 10px;
   }
   .fa-github::before {
       content: "\f09b";
   }
 
   .buttonMic {
     display: block;
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 120px;
     height: 120px;
     border: 0;
     border-radius: 50%;
     padding: .7em 1em;
     margin: auto;
     text-align: center;
     color: #fff;
     background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
     box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
     will-change: transform, filter;
     transition: all 0.3s ease-out;
   }
   .buttonMic .fa {
     font-size: 70px;
     line-height: 57px;
     margin: 0;
     text-shadow: 1px 2px 2px #2a8b90;
   }
   .buttonMic:hover {
     transform: scale(.92);
   }
   .buttonMic:active {
     filter: brightness(.8);
   }
   .buttonMic:focus {
     outline: 0;
   }
 
   .buttonMicOn {
     display: block;
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 120px;
     height: 120px;
     border: 0;
     border-radius: 50%;
     padding: .7em 1em;
     margin: auto;
     text-align: center;
     color: #fff;
     background: linear-gradient(180deg, #ab2d09fa 0%, #c9bf3f 80%, #a8c93f 100%);
     box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
     will-change: transform, filter;
     transition: all 0.3s ease-out;
   }
   .buttonMicOn .fa {
     font-size: 70px;
     line-height: 57px;
     margin: 0;
     text-shadow: 1px 2px 2px #2a8b90;
   }
   .buttonMicOn:hover {
     transform: scale(.92);
   }
   .buttonMicOn:active {
     filter: brightness(.8);
   }
   .buttonMicOn:focus {
     outline: 0;
   }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body{
   font-size: 2em;
  }

  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  .fa-github::before {
      content: "\f09b";
  }

  .buttonMic {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 130px;
    height: 130px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMic .fa {
    font-size: 90px;
    line-height: 57px;
    margin: 0;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMic:hover {
    transform: scale(.92);
  }
  .buttonMic:active {
    filter: brightness(.8);
  }
  .buttonMic:focus {
    outline: 0;
  }

  .buttonMicOn {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 130px;
    height: 130px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #ab2d09fa 0%, #c9bf3f 80%, #a8c93f 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMicOn .fa {
    font-size: 90px;
    line-height: 57px;
    margin: 0;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMicOn:hover {
    transform: scale(.92);
  }
  .buttonMicOn:active {
    filter: brightness(.8);
  }
  .buttonMicOn:focus {
    outline: 0;
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  .fa-github::before {
      content: "\f09b";
  }

  .buttonMic {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMic .fa {
    font-size: 60px;
    line-height: 57px;
    margin: 0;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMic:hover {
    transform: scale(.92);
  }
  .buttonMic:active {
    filter: brightness(.8);
  }
  .buttonMic:focus {
    outline: 0;
  }
  
  .buttonMicOn {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #ab2d09fa 0%, #c9bf3f 80%, #a8c93f 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMicOn .fa {
    font-size: 46px;
    line-height: 57px;
    margin: 0;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMicOn:hover {
    transform: scale(.92);
  }
  .buttonMicOn:active {
    filter: brightness(.8);
  }
  .buttonMicOn:focus {
    outline: 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
  }
  .fa-github::before {
      content: "\f09b";
  }

  .buttonMic {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #39C2C9 0%, #3FC8C9 80%, #3FC8C9 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMic .fa {
    font-size: 70px;
    line-height: 57px;
    margin: 10px;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMic:hover {
    transform: scale(.92);
  }
  .buttonMic:active {
    filter: brightness(.8);
  }
  .buttonMic:focus {
    outline: 0;
  }
  
  .buttonMicOn {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 100px;
    border: 0;
    border-radius: 50%;
    padding: .7em 1em;
    margin: auto;
    text-align: center;
    color: #fff;
    background: linear-gradient(180deg, #ab2d09fa 0%, #c9bf3f 80%, #a8c93f 100%);
    box-shadow: 2px 5px 30px rgba(63, 200, 201, .4);
    will-change: transform, filter;
    transition: all 0.3s ease-out;
  }
  .buttonMicOn .fa {
    font-size: 70px;
    line-height: 57px;
    margin: 10px;
    text-shadow: 1px 2px 2px #2a8b90;
  }
  .buttonMicOn:hover {
    transform: scale(.92);
  }
  .buttonMicOn:active {
    filter: brightness(.8);
  }
  .buttonMicOn:focus {
    outline: 0;
  }
}
 



#log{
  overflow: auto;
  /*height: 456px;*/
  background-color: #cacaca40;
}

#mensagemNova{
  bottom: 0px;
  position: absolute;
}